# Rust builds
/target
**/target
# Trunk builds
/web/dist/

# This file contains environment-specific configuration like linker settings
.cargo/config.toml
**/Cargo.lock

# Local development files
.envrc
rust-toolchain.toml
.direnv
