# Rust builds
/target
**/target
# Trunk builds
/web/dist/

# This file contains environment-specific configuration like linker settings
.cargo/config_fast_builds.toml

# Local development files
.envrc
rust-toolchain.toml
.direnv
